// Place all the styles related to the books controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

label {
    display: block;
}

.field {
    margin-bottom: 10px;
}

.link {
    display: flex;
}

span {
  font-weight: bold;
}

td {
    padding: 5px;
}

.messege {
    color: green;
}
